body {
	padding-top: 45px;
}

#content > .well {
	margin: 20px;
}

#content > .alert {
	margin: 20px 20px 0px 20px;
}

#content > table {
	border-spacing: 20px;
	border-collapse: separate;
}

#content > table td {
	vertical-align: top;
}


form {
	margin-bottom: 0px;
}

a {
	cursor: pointer;
}

.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
	width: 90%;
}

.liste th {
	text-align: left;
}

#palette {
	position: relative;
}

.modal-events {
	display:none;
	width: 800px;
	top: 5%;
	margin: 0px -400px;
}

.modal-events .modal-body {
	max-height: 80%;
}

.form_buttons input {
	margin: 5px;
}